.sidebar .image-text svg {
    width: 40px;
    border-radius: 6px;
    fill: var(--text-color);
    
}



.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--sidebar-color);
    padding: 10px 14px;
    transition: var(--tran-03);
}

.sidebar.close {
    width: 88px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header {
    position: relative;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar .image {
    min-width: 60px;
}

.sidebar header .toogle {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: -25px;
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:  50%;
    color:  var(--sidebar-color);
    font-size: 22px;
    transform: translateY(-50%) rotate(180deg);
    transition: var(--tran-04);

}

body.dark .sidebar header .toogle {
    color: var(--text-color);
}


.sidebar.close header .toogle {
    transform: translateY(-50%)
}

/* NAVIGATION DOWN */ 

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    height: 21px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-03)
}



.sidebar .search-box {
    background-color: var(--primary-color-light);
    border-radius: 6px;

}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: var(--primary-color-light);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}


/* SWITCH */

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background-color: var(--primary-color-light);
    border-radius: 6px;
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode svg {
    position: absolute;
}

.menu-bar .mode .sun {
    opacity: 0;
}

body.dark .menu-bar .mode .sun {
    opacity: 1;
}

body.dark .menu-bar .mode .moon {
    opacity: 0;
}

.menu-bar .mode .toogle-switch {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    right: 0;
    background-color: var(--primary-color-light);

}

.toogle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toogle-color);
}

.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-03)
}

body.dark .switch::before {
    left: 25px;
}